[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
regex = "*"
sockeye = "*"
sockeye-serving = {editable = true, path = "."}
subword-nmt = "*"

[packages]
mxnet-model-server = "*"
pyyaml = "==3.12"
requests = "*"

[requires]
python_version = "3.6"
